// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/*#region [ Variables ]*/
$backColor-back: #1e1e2f;
$backColor-front:#34384c;
$backColor-front-50:#34384c52;
/*#endregion*/


/*#region [ v-application ]*/
.theme--dark.v-application{
    background: $backColor-back !important;
}
/*#endregion */

/*#region [ v-navigation-drawer ]*/
.theme--dark.v-navigation-drawer{
    background-color: $backColor-front-50 !important ;
}    
.v-navigation-drawer__content .v-list-group__items{
    background-color: $backColor-front-50 !important ;
}
/*#endregion */

/*#region [ v-table ]*/
table.v-table thead th, table.v-table tbody td{
    padding: 0 7px !important;
}
.theme--dark.v-table{
    background-color: $backColor-front !important;
    border-color: $backColor-front !important;
}
.theme--dark.v-datatable, .v-datatable__actions{
    background-color: $backColor-front !important;
    border-color: $backColor-front !important;
}
.theme--dark.v-table tbody tr:hover:not(.v-datatable__expand-row){
    background: lighten( $backColor-back, $amount: 80) !important;
}
/*#endregion */

/*#region [ v-list ]*/
.v-list-item.v-list-item--link {
padding-left: 15px !important;
}
.v-list-item{
padding-left: 0px !important;
}
.v-list-item__icon{
padding-left: 15px !important;
}
.v-list--two-line .v-list__tile{
height: 62px !important;
}
.v-list-item__action {
-ms-flex-item-align: center !important;
align-self: center !important;
margin: 12px 0px 12px 10px !important;
margin-right: 16px !important;
}
.v-list-item__action i {
min-width:24px;
}
.v-application--is-ltr .v-list-group--sub-group .v-list-group__header{
padding-left: 16px !important;
}
.v-application--is-ltr .v-list-group--no-action.v-list-group--sub-group > .v-list-group__items > div > .v-list-item
{  padding-left: 20px !important;
}
/*#endregion */

/*#region [ v-sheet ]*/
.theme--dark.v-sheet{
background-color: $backColor-front !important;
border-color: $backColor-front !important;
}
/*#endregion */

/*#region [ v-card ]*/
.theme--dark.v-card{
background-color: $backColor-front !important;
border-color: $backColor-front !important;
}
.v-card{
    padding: 10px;
    margin: 5px;
}
/*#endregion */


